html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-left {
  width: calc(100%-200px);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: 1px;
  row-gap: 1em;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: calc(60px * 3 + 10px * 3);
}

.right-box {
  width: 200px;
  height: 1200px;
  background-color: #c0c5ce;
}

.rectangle {
  width: 200px;
  height: 120px;
  background-color: #c0c5ce;
  margin: 5px;
}

.long-box {
  width: 200px;
  height: 15px;
  background-color: #c0c5ce;
  margin: 5px;
}

.small-box {
  width: 100px;
  height: 15px;
  background-color: #c0c5ce;
  margin: 5px;
  margin-bottom: 20px;
}

.line {
  width: 1250px;
  height: 2px;
  background-color: #c0c5ce;
  margin-top: 75px;
  margin-bottom: 25px;
}
